@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item:nth-child(4)::before, .list-item:nth-child(3)::before, .list-item:nth-child(2)::before, .list-item:nth-child(1)::before {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  background-color: #F5F4FA;
  align-items: center;
}

.our-team-worker-description h3 .our-team-worker-description p, .our-team-worker-description h3 {
  font-size: 16px;
  line-height: 1.18;
}

.our-team-list, .what-we-work .what-we-work-img {
  display: flex;
  justify-content: space-between;
}

.sub-hero-btn, .hero-btn {
  text-align: center;
  font-size: 16px;
  line-height: 187%;
  border-radius: 4px;
}

.header {
  border-bottom: 1px solid #ECECEC;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .header {
    padding: 0;
  }
}
.header__logo {
  color: #000000;
}
.header__link {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__container {
  display: flex;
  align-items: center;
}
.header .menu-toggle {
  height: 40px;
}
@media (min-width: 768px) {
  .header .menu-toggle {
    display: none;
  }
}
.header__site-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header__site-nav {
    justify-content: space-between;
    flex-grow: 1;
  }
}
.header__nav-list {
  display: flex;
}
.header__link, .header__contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts {
  color: var(--primary-text-color);
}
@media (max-width: 1199px) {
  .header__contacts {
    font-size: 12px;
    line-height: 1.167;
  }
}
.header__contacts:hover, .header__link:hover,
.header .header__link:focus {
  color: #2196F3;
}
.header__link-this-page {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header__link-this-page::after {
  content: "";
  position: absolute;
  left: 0;
  top: 76px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}
.header__nav-list .header__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header__item .header__link {
  padding-bottom: 32px;
  padding-top: 32px;
}
.header__nav-list .header__item:not(:last-child) {
  margin-right: 50px;
}
.header__contacts-list {
  display: flex;
  margin-left: auto;
  flex-direction: column;
}
@media (max-width: 1199px) {
  .header__contacts-list {
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .header__contacts-list {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .header__contacts-list .header__item + .header__item {
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .header__nav-list,
  .header__contacts-list {
    display: none;
  }
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-svg {
  width: 16px;
  height: 12px;
}

.tel-svg {
  width: 10px;
  height: 16px;
}

.logo.header__item {
  align-self: center;
  margin-right: 93px;
}

.header__menu {
  display: none;
}

.mobile-menu-svg-header {
  display: none;
}

.footer {
  background-color: #2F303A;
  padding: 60px 0;
  text-align: left;
}

.flex-footer {
  display: flex;
  justify-content: flex-start;
}

.footer-left {
  margin-right: 70px;
  margin-bottom: 0;
}

.footer-logo {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1667;
  letter-spacing: 0.03em;
}

.blue {
  color: #2196F3;
}

.address {
  padding: 18px 0;
}
.address .address-location {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429%;
  letter-spacing: 0.42px;
  text-decoration: none;
}
.address .address-link {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429%;
  letter-spacing: 0.42px;
  text-decoration: none;
}

.footer-social {
  margin-bottom: 60px;
}
.footer-social .footer-social-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.social-icon-list {
  display: flex;
  justify-content: center;
}

.article-social {
  display: flex;
  justify-content: center;
}

.social-link-footer {
  fill: #FFFFFF;
  padding: 12px;
  margin-left: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  transition: background-color 250ms;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #FFFFFF;
  border-radius: 50%;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.social-link-footer {
  fill: #FFFFFF;
  padding: 12px;
  margin-left: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  transition: background-color 250ms;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #FFFFFF;
  border-radius: 50%;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.social-link-footer:hover {
  background-color: #2196F3;
}

.footer-svg {
  width: 24px;
  height: 24px;
}

.footer-right {
  margin-left: 43px;
}

.footer-right-title {
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-article-right {
  display: flex;
}

.footer-right-input {
  padding: 15px 290px 15px 15px;
  background-color: #2F303A;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.footer-button-right {
  margin-left: 12px;
  padding: 10px 28px;
  align-items: center;
  border: 0px;
  background-color: #2196F3;
  color: #FFFFFF;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.footer-btn-icon {
  margin-left: 10px;
  fill: #FFFFFF;
  width: 24px;
  height: 24px;
}

.hero {
  background-color: #2F303A;
  color: var(--second-text-color);
  text-align: center;
  padding: 118px 60px;
  width: 480px;
  max-width: 100%;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/Img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Img.png);
    width: 768px;
    padding: 118px 204px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-color: #2F303A;
    padding: 200px 0;
    background-image: url(../img/Img.png);
    background-size: cover;
    opacity: 0.9;
    background-image: radial-gradient();
    width: 100%;
  }
}
.hero-title {
  font-weight: 900;
  font-size: 1.5em;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #FFFFFF;
  text-align: center;
}
@media (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
  }
}

.hero-btn {
  color: #F5F4FA;
  background-color: #2196F3;
  font-weight: 700;
  letter-spacing: 0.96px;
  margin: 0 auto;
  display: block;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #212121;
  text-decoration: none;
  width: 145px;
  font-size: 26px;
  line-height: 30.52px;
  letter-spacing: 3%;
}
.logo .blue {
  color: #2196F3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.modal {
  padding: 33px 15px;
}

.modal-container {
  position: relative;
  padding: 40px 39px 40px 41px;
  max-height: 581px;
  height: 100%;
  max-width: 528px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
  background-size: contain;
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #f5f5f5;
  border-color: #FFFFFF;
  border: 0px solid;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.form-modal {
  margin-left: 30px;
}

.modal label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 12px;
  color: #757575;
  font-weight: 300px;
}

.div-modal-icon-input {
  position: relative;
}

.modal input,
.modal textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.input-modal {
  width: 448px;
}

.div-modal-icon-svg {
  position: absolute;
  top: 127px;
  left: 62px;
}

.modal input,
.modal textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.div-modal-icon-svg-2 {
  position: absolute;
  top: 200px;
  left: 62px;
}

.div-modal-icon-svg-3 {
  position: absolute;
  top: 271px;
  left: 62px;
}

.modal textarea {
  resize: vertical;
}

.textarea-modal {
  width: 448px;
  height: 100px;
}

textarea {
  overflow: auto;
}

.modal .checkbox-label {
  display: flex;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.modal .button-modal-list {
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #2196F3;
  color: #FFFFFF;
}

.button-modal-list {
  width: 200px;
  height: 50px;
  margin-left: 96px;
}

.checkbox-label a {
  color: var(--logo-color);
  border-bottom: 1px solid #2196F3;
  text-decoration: none;
}

.modal .close:hover {
  color: #2196F3;
}

.modal input:hover {
  border-color: #2196F3;
}

.div-modal-icon-svg:hover .svg-modal-icon {
  fill: #2196F3;
}

.svg-modal-icon {
  width: 18px;
  height: 18px;
  fill: #212121;
  position: absolute;
  top: 22px;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.div-modal-icon-svg-2:hover .svg-modal-icon {
  fill: #2196F3;
}

.div-modal-icon-svg-3:hover .svg-modal-icon {
  fill: #2196F3;
}

.svg-modal-icon-email {
  width: 18px;
  height: 18px;
  fill: #212121;
  position: absolute;
  top: 46px;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #FFFFFF;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.menu__navigation-link {
  display: inline-block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu__tel-link {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1765;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.menu__mail-link {
  display: block;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1667;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__social {
  display: flex;
  gap: 10px;
}

.info {
  padding-bottom: 60px;
  padding-top: 60px;
}

.info-list {
  padding: 94px 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.info-item {
  margin: 0 30px;
}

.list-item:nth-child(1)::before {
  content: url(../img/antenna.svg);
}

.list-item:nth-child(2)::before {
  content: url(../img/clock-info.svg);
}

.list-item:nth-child(3)::before {
  content: url(../img/diagram-info.svg);
}

.list-item:nth-child(4)::before {
  content: url(../img/astronaut-info.svg);
}

.list-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: #212121;
}
.list-title .list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429%;
  letter-spacing: 0.42px;
  color: #757575;
}

.social-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 206px;
  max-width: 100%;
  gap: 10px;
}

.social-card {
  display: flex;
  flex-basis: calc((100% - 30px) / 4);
  height: 44px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--icons-primary-color);
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.social-link:hover, .social-link:focus {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}

.social-icon {
  background-repeat: no-repeat;
  background-size: contain;
  fill: currentColor;
}

.our-team-worker-description h3 {
  font-weight: 500;
}
.our-team-worker-description h3 .our-team-worker-description p {
  font-weight: 400;
}

@media (max-width: 1199px) {
  .what-we-work {
    display: none;
  }
}
.what-we-work {
  padding-bottom: 94px;
}
.our-team-list figure.our-team-item {
  margin: 0;
  width: 270px;
  text-align: center;
}

.our-team {
  padding: 50px 0;
}

.our-team-item {
  background-color: white;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.19);
}

.our-team-item img {
  width: 100%;
}

.what-we-work-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  color: #212121;
  margin-bottom: 50px;
}

.service__list {
  display: flex;
  gap: 30px;
}

.service__item {
  flex-basis: calc((100% - 60px) / 3);
}

.label__thumb {
  position: relative;
}

.work-img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.label__title {
  color: #FFFFFF;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(33, 33, 33, 0.6);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  display: block;
  padding: 20px;
  margin: 0;
}

.what-we-work-img {
  display: flex;
  justify-content: space-between;
}

.what-we-work-img-div {
  position: relative;
}

.work-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.work-text {
  color: #FFFFFF;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(33, 33, 33, 0.6);
  width: 89%;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  display: block;
  padding: 20px;
  margin: 0;
}

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.our-team-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.our-team-list {
  display: flex;
  justify-content: space-between;
}

figure.our-team-item {
  margin: 0;
  width: 270px;
  text-align: center;
}

.our-team-item img {
  width: 100%;
  border-style: none;
}

.our-team-div-svg {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 40px;
}

.social-icon-list {
  display: flex;
  list-style: none;
  padding: 0;
}
.social-icon-list .social-icon-list-item {
  text-decoration: none;
}

.social-team-link {
  padding: 10px;
  height: 20px;
  display: block;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-team-link:hover {
  background-color: #2196F3;
  fill: white;
}

.our-team-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social-team-link:hover .our-team-svg {
  fill: white;
  background-color: #2196F3;
}

.our-team-list, .what-we-work .what-we-work-img {
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
}

.social-link:hover {
  background-color: #2196F3;
  border-radius: 30px;
  fill: white;
}

.social-icon-list-item:hover {
  fill: white;
}

.container-clients {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.clients {
  padding-top: 94px;
  padding-bottom: 82px;
}

.title-clients {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  color: var(--title-color);
  margin-bottom: 50px;
  padding-top: 94px;
}

.clients-list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.clients-list-item {
  flex-basis: calc((100% - 150px) / 6);
}

.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
}

.item-svg {
  fill: #AFB1B8;
  width: 170px;
  height: 92px;
  transition: fill 250ms, border 250ms;
}
.item-svg:hover {
  border: 1px solid rgb(33, 150, 243);
  fill: #2196F3;
  transition: fill 250ms, border 250ms;
}

.sub-hero {
  padding-bottom: 94px;
  padding-top: 94px;
}

.sub-hero-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.sub-hero-item {
  margin-right: 8px;
}

.sub-hero-btn:hover {
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #FFFFFF;
}

.sub-hero-btn {
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  display: inline-block;
  border: none;
  padding: 6px 22px;
  min-width: 73px;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.03em;
  transition: background-color 250ms, color 250ms;
}

.sub-hero-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1.08px;
  color: #212121;
}

.sub-hero-list-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.sub-hero-list-img-item:hover {
  box-shadow: 0px 10px 13px -7px #000000, 0px 8px 12px -5px rgba(0, 0, 0, 0);
}

.sub-hero-list-img-item {
  outline: #EEEEEE 0.5px solid;
}

.border {
  padding: 0 17px;
}

.sub-hero-position {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 187.5%;
  letter-spacing: 0.48px;
}

img {
  width: 100%;
}

.box {
  position: relative;
  width: 370px;
  height: 295px;
  margin: 0 auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196F3;
  opacity: 90%;
  transform: translateY(100%);
  transition: transform 250ms;
}

.sub-hero-list-img-item:hover .overlay {
  transform: translatey(0);
}

.overlay p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #FFFFFF;
  padding: 25px;
}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .list-item {
    width: 230px;
  }
  .list-item:nth-child(4)::before,
  .list-item:nth-child(3)::before,
  .list-item:nth-child(2)::before,
  .list-item:nth-child(1)::before {
    width: 100%;
  }
  .our-team-list figure.our-team-item {
    margin: 0;
    width: 220px;
    text-align: center;
  }
  .header__menu {
    display: none;
  }
  .mobile-menu-svg-header {
    display: none;
  }
  .hero {
    width: 960px;
    background-color: #2f303a;
    text-align: center;
    padding: 80px 0;
    max-width: 100%;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .container-clients {
    width: 960px;
    /* max-width: 1200px; */
    padding-left: 15px;
    padding-right: 15px;
    /* margin-left: auto; */
    /* margin-right: auto; */
  }
  .clients-list {
    display: flex;
    gap: 30px;
    list-style: none;
    flex-wrap: wrap;
  }
  .clients-list .clients-list-item {
    display: flex;
    flex-basis: calc((100% - 60px) / 3);
  }
  .footer {
    /* background-color: #2F303A; */
    /* padding: 60px 0; */
    text-align: center;
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .flex-footer {
    display: flex;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
  }
  .footer-left {
    margin-right: 165px;
    margin-left: 76px;
  }
  .footer-left {
    margin-right: 135px;
    margin-left: 76px;
  }
  .footer-right {
    margin-left: 3px;
    /* max-width: 450px; */
    width: 100%;
  }
  .sub-hero-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 15px;
  }
  .project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .project__element {
    flex-basis: calc((100% - 30px) / 2);
  }
}
/* Medium: 768px - 991px */
@media (max-width: 991px) {
  .container {
    width: 768px;
  }
  .header__item .header__link {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .header__link-this-page::after {
    top: 48px;
  }
  .hero {
    width: 768px;
    background-color: #2f303a;
    text-align: center;
    padding: 80px 0;
    max-width: 100%;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .info-list {
    gap: 30px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  }
  .list-item {
    flex-basis: calc((100% - 30px) / 2);
    padding-bottom: 0;
  }
  .our-team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .our-team-title {
    color: #212121;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.171;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
  .our-team-list {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 30px;
  }
  .our-team-item {
    display: flex;
    flex-basis: calc((100% - 30px) / 2);
    flex-wrap: wrap;
    flex-direction: column;
  }
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .title-clients {
    font-size: 28px;
    line-height: 1.171;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
  .clients-list {
    display: flex;
    gap: 30px;
    list-style: none;
    flex-wrap: wrap;
  }
  .clients-list-item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .footer {
    text-align: center;
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .flex-footer {
    display: flex;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
  }
  .footer-left {
    margin-right: 165px;
    margin-left: 76px;
  }
  .footer-logo {
    margin-bottom: 28px;
    font-size: 24px;
  }
  .footer-social {
    /* margin-left: 70px; */
    margin-bottom: 60px;
  }
  .article-social {
    /* display: flex; */
    /* justify-content: center; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 206px;
    max-width: 100%;
    gap: 10px;
  }
  .social-link {
    display: flex;
    flex-basis: calc((100% - 30px) / 4);
  }
  .footer-right {
    /* margin-left: 93px; */
    margin: auto;
    max-width: 450px;
    width: 100%;
  }
  .header__menu {
    display: none;
  }
  .mobile-menu-svg-header {
    display: none;
  }
  .footer-left {
    margin-right: 135px;
    margin-left: 76px;
  }
  .footer-right {
    margin-left: 3px;
    /* max-width: 450px; */
    width: 100%;
  }
  .sub-hero-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 15px;
  }
  .project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .project__element {
    flex-basis: calc((100% - 30px) / 2);
  }
  .svg-modal-icon-email {
    width: 18px;
    height: 18px;
    fill: #212121;
    position: absolute;
    top: 21px;
    left: 15px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container .js-menu-container {
    display: none;
  }
}
/* Extra small: 0px (320px) - 767px */
@media (max-width: 767px) {
  .container {
    width: 480px;
  }
  .hero {
    background-color: #2f303a;
    text-align: center;
    padding: 80px 0;
    max-width: 100%;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero__title {
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .hero-btn {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 152px;
    border: none;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    letter-spacing: 0.06em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .info-list {
    /* gap: 30px; */
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .list-item:nth-child(4)::before, .list-item:nth-child(3)::before, .list-item:nth-child(2)::before, .list-item:nth-child(1)::before {
    display: flex;
    width: 450px;
    height: 120px;
    justify-content: center;
    background-color: #F5F4FA;
    align-items: center;
  }
  .list-title {
    /* font-size: 14px; */
    /* font-weight: 700; */
    /* letter-spacing: 0.42px; */
    /* text-transform: uppercase; */
    color: #212121;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .list-item {
    padding-bottom: 30px;
    width: 450px;
    height: 122px;
  }
  .our-team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f5f4fa;
  }
  .our-team-title {
    color: #212121;
    /* font-weight: 700; */
    /* font-size: 28px; */
    /* line-height: 1.171; */
    text-align: center;
    letter-spacing: 0.03em;
    /* margin-bottom: 30px; */
    font-weight: 700;
    font-size: 28px;
    line-height: 1.171;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
  .our-team-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  .our-team-list figure.our-team-item {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
  }
  .our-team-item img {
    display: block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .our-team-item {
    width: 450px;
    height: 620px;
  }
  .our-team-item {
    display: flex;
    flex-basis: calc((100% - 1px) / 1);
    flex-wrap: wrap;
    flex-direction: column;
  }
  .our-team-div-svg {
    display: flex;
    justify-content: space-around;
    /* padding-top: 10px; */
    /* padding-bottom: 40px; */
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .container-clients {
    width: 100%;
    /* max-width: 1200px; */
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 480px;
  }
  .title-clients {
    /* font-size: 28px; */
    /* line-height: 1.171; */
    /* text-align: center; */
    /* letter-spacing: 0.03em; */
    /* margin-bottom: 30px; */
    font-weight: 700;
    font-size: 28px;
    line-height: 1.171;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
  .clients-list-item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .footer-left {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
  .footer-right-input {
    padding: 15px 100px 15px 15px;
    background-color: #2F303A;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
  }
  .footer-article-right {
    display: flex;
    flex-direction: column;
  }
  .sub-hero {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .sub-hero-list {
    list-style: none;
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
    gap: 15px 8px;
    justify-content: flex-start;
  }
  .project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .project__element {
    width: 100%;
    border: 1px solid #eee;
  }
  .project img {
    height: 294px;
    display: block;
    max-width: 100%;
  }
  .footer-social {
    margin-left: 90px;
    margin-bottom: 60px;
  }
  .footer-left {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-left: 90px;
  }
  .project__element {
    width: 100%;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    flex-basis: calc((100% - 10px) / 1);
  }
  .input-modal {
    width: 300px;
  }
  .svg-modal-icon {
    width: 18px;
    height: 18px;
    fill: #212121;
    position: absolute;
    top: 42px;
    left: 15px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal textarea {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    height: 62px;
  }
  .svg-modal-icon-email {
    width: 18px;
    height: 18px;
    fill: #212121;
    position: absolute;
    top: 46px;
    left: 15px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-modal-list {
    width: 200px;
    height: 50px;
    margin-left: 36px;
  }
}
/* Extra small: 0px (320px) - 575px */
@media (max-width: 479px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .hero {
    background-color: #2f303a;
    text-align: center;
    padding: 60px 0;
    width: 100%;
    max-width: 100%;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .list-item {
    /* padding-bottom: 30px; */
    width: 100%;
    /* height: 122px; */
  }
  .list-item:nth-child(4)::before, .list-item:nth-child(3)::before, .list-item:nth-child(2)::before, .list-item:nth-child(1)::before {
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: center;
    background-color: #F5F4FA;
    align-items: center;
  }
  .container-clients {
    width: 100%;
  }
  .footer-article-right {
    display: flex;
    flex-direction: column;
  }
  .sub-hero {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .sub-hero-list {
    list-style: none;
    display: flex;
    margin-bottom: 40px;
    gap: 15px 8px;
    max-width: 321px;
    flex-wrap: wrap;
  }
  .sub-hero-item {
    margin-right: 8px;
    flex-basis: calc((100% - 130px) / 3);
  }
  .project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .project__element {
    width: 100%;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    flex-basis: calc((100% - 10px) / 1);
  }
  .project__overlay-thumb {
    position: relative;
    overflow: hidden;
  }
  .project img {
    height: 294px;
    display: block;
    max-width: 100%;
  }
  .project__overlay-informatoin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 77px 24px;
  }
  .project__text-overlay {
    font-size: 16px;
  }
  .footer-social {
    margin-left: 50px;
    margin-bottom: 60px;
  }
  .input-modal {
    width: 300px;
  }
  .svg-modal-icon {
    width: 18px;
    height: 18px;
    fill: #212121;
    position: absolute;
    top: 42px;
    left: 15px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal textarea {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    height: 62px;
  }
  .svg-modal-icon-email {
    width: 18px;
    height: 18px;
    fill: #212121;
    position: absolute;
    top: 46px;
    left: 15px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-modal-list {
    width: 200px;
    height: 50px;
    margin-left: 36px;
  }
}
.project {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* &__element {

      margin-right: 30px;
      margin-bottom: 30px;
      border: 1px solid #EEEEEE;
  }*/
}
.project__overlay-thumb {
  position: relative;
  overflow: hidden;
}
.project__overlay-informatoin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}
.project__text-overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.project__element:hover .project__overlay-informatoin {
  transform: translateY(0);
}
.project__element:hover, .project__element:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__element:nth-child(3n) {
  margin-right: 0;
}
.project__element:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.project__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project__informatoin {
  padding: 20px 24px;
}
.project__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin-top: 4px;
}