@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;

}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
   
}



ul {
    list-style: none;
}
a{
    text-decoration: none;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




@import "./untills/variabels";
@import "./untills/placeholder";
@import "./untills/mixin";
@import "./header";
@import "./footer";
@import "./components/hero";
@import "./components/logo";
@import "./components/modal";
@import "./components/mobile-menu";
@import "./components/info";
@import "./components/team";
@import "./components/clients";
@import "./components/sub-hero";
@import "./components/adaptive";


