:root {
    --logo-color: #2196F3;
    --main-background-color: #2F303A;
    --font-color: #FFFFFF;
    --title-color: #212121;
    --nav-color: #757575;
    --team-background-color: #F5F4FA;
    --header-background-color: #ECECEC;
    --sub-hero-backgroundcolor: #EEEEEE;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}