.hero {
    background-color: var(--main-background-color);
    padding: 200px 0;
    background-image: url(img/Img.png);
    background-size: cover;
    opacity: 0.9;
    background-image: radial-gradient();
}

.hero-title {
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 2.64px;
    line-height: 136%;
    text-transform: uppercase;
    color: var(--font-color);
}

.hero-btn {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 187%;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background-color: var(--logo-color);
    margin: 0 auto;
    display: block;
    color: var(--team-background-color);
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}