
.info {
    padding-bottom: 60px;
    padding-top: 60px;
}

.info-list {
    padding: 94px 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}


.info-item {
    margin: 0 30px;
}

.list-item:nth-child(1)::before {
    content: url(../img/antenna.svg);
    @extend %info-list-item;
}

.list-item:nth-child(2)::before {
    content: url(../img/clock-info.svg);
    @extend %info-list-item;
}


.list-item:nth-child(3)::before {
    content: url(../img/diagram-info.svg);
    @extend %info-list-item;
}

.list-item:nth-child(4)::before {
    content: url(../img/astronaut-info.svg);
    @extend %info-list-item;
}






.list-title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: $title-color;

    .list-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 171.429%;
        letter-spacing: 0.42px;
        color: $nav-color;
    
    }
}
.social-list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 206px;
    max-width: 100%;
    gap: 10px;
}

.social-card {
    display: flex;
    flex-basis: calc((100% - 3*10px)/4);
    height: 44px;
}

.social-link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--icons-primary-color);
    background-color: #FFFFFF;
    border-radius: 50%;

    transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);

        &:hover,
            &:focus {
                color: var(--second-text-color);
                background-color: var(--accent-color);
            }
}



.social-icon {
    background-repeat: no-repeat;
    background-size: contain;
    fill: currentColor;
}


