.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: $title-color;
    text-decoration: none;
    width: 145px;
    font-size: 26px;
    line-height: 30.52px;
    letter-spacing: 3%;

    .blue {
        color: $logo-color;
    }
}