.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.470, 0.000, 0.745, 0.715);
    visibility: visible;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transform: scale(1) translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.470, 0.000, 0.745, 0.715);
}

.modal {
    padding: 33px 15px;
}

.modal-container {
    position: relative;
    padding: 40px 39px 40px 41px;
    max-height: 581px;
    height: 100%;
    max-width: 528px;
    width: 100%;
    background-color: $font-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .12), 0px 1px 1px rgba(0, 0, 0, .14), 0px 2px 1px rgba(0, 0, 0, .2);
    border-radius: 4px;
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
}

.button-close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    background-color: $font-color;
    cursor: pointer;
    background-size: contain;
    fill: #000;
    transition: fill 250ms $timing-function;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: $title-color;
    margin-bottom: 12px;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #f5f5f5;
    border-color: #FFFFFF;
    border: 0px solid;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.form-modal {
    margin-left: 30px;
}

.modal label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
    color: #757575;
    font-weight: 300px;
}

.div-modal-icon-input {
    position: relative;
}

.modal input,
.modal textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.input-modal {
    width: 448px;
}

.div-modal-icon-svg {
    position: absolute;
    top: 127px;
    left: 62px;
}

.modal input,
.modal textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.div-modal-icon-svg-2 {
    position: absolute;
    top: 200px;
    left: 62px;
}

.div-modal-icon-svg-3 {
    position: absolute;
    top: 271px;
    left: 62px;
}

.modal textarea {
    resize: vertical;
}

.textarea-modal {
    width: 448px;
    height: 100px;
}

textarea {
    overflow: auto;
}

.modal .checkbox-label {
    display: flex;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.modal .button-modal-list {
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: $logo-color;
    color: #FFFFFF;
}

.button-modal-list {
    width: 200px;
    height: 50px;
    margin-left: 156px;
}

.checkbox-label a {
    color: var(--logo-color);
    border-bottom: 1px solid $logo-color;
    text-decoration: none;
}

.modal .close:hover {
    color: $logo-color;
}

.modal input:hover {
    border-color: #2196F3;
}

.div-modal-icon-svg:hover .svg-modal-icon {
    fill: #2196F3;
}

.svg-modal-icon {
    width: 18px;
    height: 18px;
    fill: #212121;
    position: absolute;
    top: 22px;
    left: 15px;
    transform: translateY(-50%);
    transition: fill 250ms var(--timing-function);
}

.div-modal-icon-svg-2:hover .svg-modal-icon {
    fill: #2196F3;
}

.div-modal-icon-svg-3:hover .svg-modal-icon {
    fill: #2196F3;
}