.sub-hero {
    padding-bottom: 94px;
    padding-top: 94px;
}

.sub-hero-list {
    list-style: none;
    display: flex;
   
    justify-content: center;
    margin-bottom: 50px;

}

.sub-hero-item {
    margin-right: 8px;
}

.sub-hero-btn:hover {
    background-color: $logo-color;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: $font-color;
}

.sub-hero-btn {
    @include button($button-color: $title-color, $button-bg:$team-background-color, $btn-font-weight:500);
    @extend %btn-text;
    display: inline-block;
    border: none;
    padding: 6px 22px;
    min-width: 73px;
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 0.03em;
    transition: background-color 250ms, color 250ms;

}

.sub-hero-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.08px;
    color: $title-color;
}

.sub-hero-list-img {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px;

}

.sub-hero-list-img-item:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 8px 12px -5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 8px 12px -5px rgba(0, 0, 0, 0);
}

.sub-hero-list-img-item {
    outline: $sub-hero-backgroundcolor 0.5px solid;

    
}

.border {
    padding: 0 17px;
}

.sub-hero-position {
    color: $nav-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 187.5%;
    letter-spacing: 0.48px;
}

img {
    width: 100%;
}

.box {
    position: relative;
    width: 370px;
    height: 295px;
    margin: 0 auto;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2196F3;
    opacity: 90%;
    transform: translateY(100%);
    transition: transform 250ms
}

.sub-hero-list-img-item:hover .overlay {
    transform: translatey(0);
}

.overlay p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
    color: $font-color;
    padding: 25px;
}